<h3>About Us</h3>
<p>
  What is BigKart?
  BigKart is an eCommerce web application where we can buy groceries. 
  The main agenda of this application is to help people during this pandemic situation by providing 
  doorstep delivery which even reduces the spread of the virus and allows us to lead a safe life.
</p>

  <h3>FAQ</h3>
<p>
  1. Do we require an account in to use the application? </p>
  <p>
     We can view the application without signing in but to checkout we need your details so that we 
     can deliver the groceries.
    </p>
<p>
  2. How can we create an account?
</p>
<p>
     Creating an account is very simple just use the login button and if you are a new user click on 
     create new account link or if you already have an account just enter your credentials.

</p>



